.ajax-flipper {
  width: 155px;
  height: 65px;
  /* 	border:1px solid black; */
  /* 	border-radius: 0px 23px; */
  display: block;
  z-index: 11111;
  position: absolute;
  top: 30%;
  left: 45%;
  margin: 100px auto;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-animation {
  box-shadow: -1px 2px 7px 3px #008cff;
  -webkit-animation: rotation3D_1 1.8s infinite ease-in-out;
  animation: rotation3D_1 1.8s infinite ease-in-out;
}

.ajax-flipper-container {
  height: 100%;
  width: 100%;
  /* display: none; */
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000;
  background: #0c32517a;
  /* background: transparent; */
}
/** ajax-flipper-container is not working in safari due to this extra overlay is required for safari. */
.ajax-flipper-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: none;
}

/* This animation overlap the the current animation of image to show the image is rotate in right way.*/
.overlap-flip-animation {
  margin-top: 99px;
  -webkit-animation: rotation3D_2 1.8s infinite ease-in-out;
  animation: rotation3D_2 1.8s infinite ease-in-out;
}

.ajax-flip-img {
  width: 85px;
  height: 22px;
  transform-origin: 41% 54%;
  vertical-align: middle;
  position: relative;
  top: 25%;
  left: 16%;
}

img.rotate-180-y {
  left: 29%;
  transform: rotateY(180deg);
}

@-webkit-keyframes rotation3D_1 {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(-179.9deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(-359.1deg);
  }
}

@keyframes rotation3D_1 {
  0% {
    transform: perspective(120px) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(0deg);
    background: white;
  }
  50% {
    transform: perspective(120px) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateY(-179.9deg);
    background: white;
  }
  100% {
    transform: perspective(120px) rotateY(-359.1deg);
    -webkit-transform: perspective(120px) rotateY(-359.1deg);
    background: white;
  }
}

@-webkit-keyframes rotation3D_2 {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(-179.9deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(-359.1deg);
  }
}

@keyframes rotation3D_2 {
  0% {
    transform: perspective(120px) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(0deg);
    background: white;
    opacity: 0;
  }
  50% {
    transform: perspective(120px) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateY(-179.9deg);
    background: white;
    opacity: 1;
  }
  100% {
    transform: perspective(120px) rotateY(-359.1deg);
    -webkit-transform: perspective(120px) rotateY(-359.1deg);
    background: white;
    opacity: 0;
  }
}

.show-loader .ajax-flipper-overlay,
.show-loader .ajax-flipper-container {
  display: block;
}
