.loginRight .loginsigin li {
  list-style: none;
}
.loginRight {
  position: absolute;
  background: #fff;
  width: 150px;
  box-shadow: 0px 13px 18px #eee;
  padding: 20px;
  right: 0;
  top: 98px;
  border-top: 4px solid #1acb1a;
  border-radius: 4px 3px 0px 0px;
}
.drop_down_open {
  cursor: pointer;
}

.home_active .Header-main-div {
  position: absolute;
  top: 0;
  z-index: 9999;
  left: 0;
  right: 0;
  background: transparent !important;
}

.home_active {
  position: relative;
}
.active {
  border-bottom: 2.5px solid #1e22aa;
  color: #000 !important;
  font-weight: 500;
  padding: 0px 0px 15px 0px;
}
img.HomeimgSize {
  width: 100%;
  max-width: 40px;
  padding: 6px 0px;
}

.active > .page-link,
.page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #0746a5;
  border-color: var(--bs-pagination-active-border-color);
}

.first-tab,
.second-tab,
.third-tab {
  padding: 3px 0px;
}

.blogs_forms {
  width: 100%;
  max-width: 600px;
}

/* css dec 14  */

.toggle-data-main {
  display: none;
}
.contactuspage {
  margin: 0 0 10px;
}
.menu-icon,
.cross-icon {
  color: white;
}

/* SWAL  */

.errorAlert .swal-text,
.errorAlert-login .swal-text {
  color: #d14f4f;
}

.successAlert .swal-text,
.successAlert-login .swal-text {
  color: #59cf65;
}

.swal-text {
  text-align: center;
  font-family: "Figtree", sans-serif;
}

/* .swal-icon:first-child {
  margin-top: 55px;
} */
.swal-icon:first-child {
  margin-top: 27px;
}

/* .swal-icon:first-child {
  margin-top: 45px;
} */

.swal-icon {
  margin: 10px auto;
}

.errorAlert .swal-title,
.errorAlert-login .swal-title {
  color: #d14f4f;
  font-family: "Figtree", sans-serif;
  letter-spacing: 0.5px;
}

.warningAlert .swal-title,
.warningAlert-login .swal-title {
  color: #d99836;
  font-family: "Figtree", sans-serif;
  letter-spacing: 0.5px;
}

.successAl1ert .swal-title,
.successAlert-login .swal-title {
  color: #59cf65;
  font-family: "Figtree", sans-serif;
  letter-spacing: 0.5px;
}

.swal-modal .swal-text {
  color: #49454f;
  font-family: "Figtree", sans-serif;
  letter-spacing: 0.25px;
  margin-top: 0px;
}

.swal-title {
  padding: 0px 16px !important;
  font-size: 16px !important;
}

.swal-footer {
  text-align: center !important;
}
.swal-icon img {
  max-width: 100%;
  max-height: 100%;
  display: unset;
}

.swal-footer {
  text-align: right;
  padding-top: 13px;
  margin-top: 0 !important;
  padding: 13px 16px;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.table-responsive {
  margin: 40px 0 0;
  font-family: "Figtree", sans-serif;
}

.table > :not(:first-child) {
  border-top: 0 !important;
}

.dataTable td {
  font-size: 16px;
  font-weight: 500;
}
.dataTable tr td:nth-child(2) {
  align-items: center;
  padding-top: 12px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.dataTable tr td:nth-child(1) {
  align-items: center;
  padding-top: 12px;
  padding-left: 11px;
  padding-bottom: 10px;
}
.dataTable tr:nth-child(2n + 2) {
  background: rgba(36, 114, 252, 0.08);
  font-family: poppins !important;
}

.dataTable
  button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.deletebutt.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  margin: 0 !important;
  min-width: auto !important;
}

.dataTable a:hover {
  background: none;
}

.table > thead {
  vertical-align: bottom;
  background: rgba(36, 114, 252, 0.2);
}
.col-sm-12.col-md-6 {
  display: unset !important;
  font-family: poppins !important;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.savebtn {
  width: 160px !important;
  height: 47px;
  grid-gap: 10px;
  gap: 10px;
  background: #2472fc00 !important;
  font-size: 16px !important;
  font-family: "Figtree", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px !important;
  border: 1px solid #084ec5;
  font-family: poppins !important;
}
.savebtn {
  float: right;
}
.dataTable th {
  font-size: 19px;
  padding: 14px 10px !important;
  font-weight: 700;
  color: #000;
  font-family: "Rajdhani", sans-serif !important;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 !important;
}
.table-bordered > :not(caption) > * {
  border-width: 0px 0;
}
.table-responsive tr {
  padding: 20px 0 !important;
  width: 100%;
  font-family: poppins !important;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: rgb(255 255 255);
  color: var(--bs-table-striped-color);
  font-family: poppins !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  top: -5px;
  left: 0;
  margin: 0;
  padding: 0 8px;
  pointer-events: none;
  border-radius: inherit;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  min-width: 0%;
}
thead[data-test="table-foot"] {
  display: none;
}
select.custom-select.custom-select-sm.form-control.form-control-sm {
  height: 44px;
  border-radius: 8px;
  text-align: center;
}
.bs-select select {
  display: inline-block !important;
}
.bs-select select {
  float: left;
  width: 100%;
}
.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.custom-select-sm {
  margin: 0 !important;
  height: 50px;
  width: 150px;
  border-radius: 8px;
}
input.form-control.form-control-sm.ml-0.my-1 {
  height: 47px;
  margin: 0 11px;
  max-width: 335px;
  border-radius: 8px;
  display: flex;
  align-items: flex-end !important;
  justify-content: flex-end !important;
  float: right;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 34%;
  height: 38%;
}

.MuiDialogContent-root.css-ypiqx9-MuiDialogContent-root {
  padding: 0px 33px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.close_btn.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  margin-right: 23px;
  background: #2472fc !important;
  color: #fff !important;
  font-family: "Figtree", sans-serif !important;
  font-size: 16px !important;
  border-radius: 4px !important;
  margin-right: 16px !important;
  padding: 6px 25px !important;
  margin: 0px 16px 0 0 !important;
  text-transform: capitalize !important;
  width: 107px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.submit_block.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  border: 2px solid #2472fc;
  border-radius: 4px;
  padding: 4px 25px;
  color: #2472fc;
  font-family: "Figtree", sans-serif !important;
  text-transform: none;
  font-weight: 600 !important;
  font-size: 16px !important;
  width: 107px;
  background: none;
}
h2#\:r1\: {
  border-bottom: 1px solid rgb(204, 194, 194);
  padding: 10px 30px;
}

select.active_blockinput {
  width: 100%;
  border: 1px solid;
  padding: 7px 13px;
  font-size: 19px;
  font-weight: 62%;
  height: 50px;
  border-radius: 4px;
}

/* DEC 15  */

/* .toggle-data-main {
  position: absolute;
  top: 23px;
} */

.logout-section {
  position: fixed;
  top: 50%;
  right: 0;
  background: #3bd56a;
  padding: 14px;
  border-radius: 50%;
  z-index: 11111;
}

.swal-modal {
  max-width: 348px;
  background-color: #fff;
  min-width: 340px;
  border-radius: 8px;
  box-shadow: 3px 4px 5px 1px #00000080;
  height: 240px;
}

/* Dec 16  */
.contact-email-logo {
  background: #3730a3;
  font-size: 15px;
  color: #fff;
  border-radius: 50px;
  padding: 15px;
}

.log-out-icon {
  color: #fff;
  padding: 5px 7px 0 0;
}

.profile_dialog-box
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper {
  width: 100%;
  min-width: 950px;
  height: 100%;
  min-height: 600px;
}
i.fa-solid.fa-xmark {
  float: right;
}

button.add-event-btn {
  color: blue;
  border: 1px solid blue;
  border-radius: 4px;
  font-size: 13px;
  padding: 6px;
}

button.remove-event-btn {
  color: red;
  border: 1px solid red;
  border-radius: 4px;
  font-size: 13px;
  padding: 6px;
}

/* side bar icon css0 */
img.iconimage-path {
  max-width: 30px;
}
span.ml-3.flex-1.whitespace-nowrap {
  /* font-size: 18px; */
  font-weight: 400;
}

/* 20 Dec 2022 */
.Topdiv {
  background: rgba(36, 114, 252, 0.06);
}
.Topdiv {
  width: 100%;
  float: left;
}
.Topdiv {
  position: relative;
}
.verifydiv {
  background: rgba(36, 114, 252, 0.06);
}
.verifyemail {
  max-width: 600px;
}
.login-content {
  max-width: 380px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 90%;
}
.verifylogo {
  text-align: center;
}
img.login-logo {
  max-width: 200px;
  display: unset;
}
.verifyemailtext {
  text-align: center;
}
.verifyemailtext h1 {
  padding: 17px 0 12px;
}
a.successfullyButton {
  padding: 10px;
  color: #1e22aa;
  text-transform: capitalize;
  font-size: 16px;
  width: 160px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  border-radius: 8px;
  margin: 31px auto 0;
  border: 1px solid #1e22aa;
}

.thankyoupage {
  background: rgba(36, 114, 252, 0.06);
}

.login-content-registering {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 90%;
}

.thanktext {
  padding: 25px;
  width: 100%;
  border: 1px solid #0d6efd00;
  border-radius: 8px;
  box-shadow: 0px 1px 5px #0d6efd45;
  background: #fff;
}
.logo-content {
  text-align: center;
  margin: 10px 0 20px;
}

.thanktext p {
  line-height: 28px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* 20 Dec 2022 */

/* 21 Dec 2022 */
.login-links a {
  color: #4338ca;
}
.login-links.last-link a {
  color: #c74646;
  margin-top: 20px;
}

ul.navbar-link-items {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.blog-item.first {
  border-top: 0px solid;
  padding-top: 0;
}
.blog-item {
  border-top: 2px solid #ddd;
  padding-top: 15px;
}
/* .container.fighting-imges {
  max-width: 1180px;
} */

@media (min-width: 1550px) and (max-width: 1900px) {
  img.fight-finder-ligo {
    width: 81% !important;
  }
  /* .box-div {
    padding: 119px;
  } */
  .container.absolute.top-50.text-center {
    left: 12rem;
  }
}

.grop-box-content.relative.flex.flex-col.items-start.px-6.bg-white.border.border-t-0.border-gray-200.py-7.rounded-b-2xl {
  min-height: 70%;
}

h1.empty-data {
  font-size: 24px;
  text-align: center;
  color: #db2424;
  padding: 54px 10px;
  text-transform: uppercase;
}

.event-dataimg img {
  float: left;
  margin-right: 15px;
  margin-bottom: 2px;
}

.eventimg-contnet img {
  height: 100%;
}

.eventimg-contnet {
  height: 240px;
  overflow: hidden;
}

.heading-contnet-fight {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 11%;
  top: 0 !important;
  width: 100%;
}

.focus\:ring-4:focus {
  box-shadow: unset;
}
iframe.map_image {
  height: 400px;
}
/* .related-blogs-contnet {
  float: left;
} */
.fontsize20 {
  font-size: 24px;
  font-weight: bold;
}
input.form-control.input-groups {
  border-radius: 50px 0px 0px 50px;
}

.search_bar .form-control:focus {
  box-shadow: unset;
}

.search_bar button:hover {
  background: #060692;
}

/* 
.Home-events-img {
  height: 410px;
}
.Home-events-img.relative img {
  height: 100%;
} */

/* .Home-events-actives {
  height: 440px !important;
} */

/* .Home-events-actives img {
  height: 100%;
  width: 100%;
} */
.fighter-images-events1 {
  height: 400px;
  overflow: hidden;
}
.fighter-images-events1 img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.Home-events-img-contnet {
  height: 410px;
  width: 100%;
}

.Home-events-img-contnet img {
  height: 100%;
  width: 100%;
}

.eventimg-contnet img {
  width: 100%;
}

.dataTable tr td:nth-child(3) {
  align-items: center;
  padding-top: 12px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.dataTable tr td:nth-child(4) {
  align-items: center;
  padding-top: 12px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.dataTable tr td:nth-child(5) {
  align-items: center;
  padding-top: 12px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.dataTable tr td:nth-child(7) {
  align-items: center;
  padding-top: 12px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.box-div.bg-blue-800.py-8.pb-5.px-3.my-4.transition.ease-in-out.delay-150.hover\:-translate-y-1.hover\:scale-70.hover\:bg-blue-500.duration-300.hover\:text-white.w3-animate-zoom.ease-in {
  height: 194px;
}

.welcome-event-home {
  top: 30% !important;
  font-family: "Rajdhani", sans-serif;
  left: 30px;
}
.welcome-event-home11 {
  top: 25% !important;
  font-family: "Rajdhani", sans-serif;
  left: 30px;
}

button.blog-btn.bg-blue-800.hover\:bg-blue-700.text-white.uppercase {
  font-size: 12px;
  width: 60px;
  padding: 3px;
  border-radius: 3px;
  margin-right: 17px;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Rajdhani";
}
.not-fount-data {
  font-size: 27px;
  color: black;
  text-align: center !important;
  width: 100%;
}

.not-fount-data_content {
  text-align: center;
  font-size: 25px;
  color: black;
}

.fight-finder-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  padding: 24px;
  background-color: white;
  font-family: poppins !important;
}
/* 9-01-2023 */
.userpage {
  background: #fff;
  width: 97%;
  margin: 0px auto;
  padding: 40px;
  border-radius: 8px;
}
.SelectEventTypeDiv .MuiInputBase-root.MuiOutlinedInput-root {
  width: 100%;
}
.SelectEventTypeDiv h1 {
  margin-bottom: 10px;
}
.UserdetailsEventsDiv h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}
.eventTitleInput {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 19px;
  border-radius: 8px;
  margin-top: 5px;
}

.SelectEventTypeDiv
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 11px 14px;
}

.SelectEventTypeDiv .MuiOutlinedInput-notchedOutline {
  border-color: #ddd;
  border-radius: 8px;
}
.AgeEventsDiv h4 {
  margin-bottom: 4px;
}
.AgeEventsDiv
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary {
  width: 100%;
  margin-bottom: 19px;
}
.AgeEventsDiv .MuiSelect-select.MuiSelect-outlined.MuiInputBase-input {
  padding: 12px 14px;
}
fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #ddd;
  border-radius: 8px;
}
.CompLevelEventsDiv h4 {
  margin-bottom: 6px;
}

.CompLevelEventsDiv
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary {
  width: 100%;
  margin-bottom: 19px;
}
.SelectEventTypeDiv {
  margin: 0 !important;
}

.countryEventsDiv h4 {
  margin-bottom: 6px;
}
.EventdetailsEventsDiv h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}
.EventAddAddressArea textarea.eventAddressArea {
  width: 100%;
  height: 200px !important;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 19px;
  margin-top: 6px;
  padding: 6px;
}

.descrclass,
input.eventZipCodeInput {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 19px;
  border-radius: 8px;
  /* margin-top: 8px; */
}
.SelectEventCountryDiv h1 {
  margin: 0 0 6px;
}
.countryEventsDiv
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary {
  width: 100%;
}

.SelectEventCountryDiv
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary {
  width: 100%;
  margin-bottom: 19px;
}
.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input {
  padding: 12px 13px;
}
.taskDueDate .MuiInput-underline:before {
  border-bottom: none;
}
label.taskDueDate {
  border: 1px solid #ddd;
  height: 57px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 0 10px;
  margin: 6px 0 19px;
}

.SelectEventDateDiv .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none;
}
.SchooldetailsEventsDiv h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.OrganizerSocialEvent .css-14lo706 {
  display: none;
}
.OrganizerSocialEvent .css-14lo706 span {
  display: none;
}
.userform {
  max-width: 600px;
}

.SchoolEventTimeEvent legend {
  display: none;
}
.SchoolEventTimeEvent label {
  display: none;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 11px 14px 12px;
  padding-right: 0;
}

.SchoolEventTimeEvent .MuiInputAdornment-root.MuiInputAdornment-positionEnd {
  padding: 0;
}
.SchoolEventTimeEvent input {
  padding: 9px 11px 13px;
}
.SchoolEventTimeEvent h1 {
  margin-bottom: 12px;
}
.SchoolEventTimeEvent .MuiFormControl-root.MuiTextField-root {
  margin-bottom: 20px;
}
.taskDueDate .MuiFormControl-root.MuiTextField-root {
  margin-bottom: 0;
}
.OrganizerSocialEvent h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}
.EventAcceptForeignDiv {
  margin: 0 0 20px;
}
.EventAcceptForeignDiv h1 {
  margin: 0 0 8px;
}
.EventAcceptForeignDiv label {
  margin: 0 10px;
}
.EventDetailsEventDiv,
.SpecialInstEvent,
.DateSeminarEvent {
  margin: 0 0 8px;
}
.SubmitHandlerEventAdd button {
  background: #1e22aa;
  color: #fff;
  padding: 11px 43px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.3px;
  /* margin: 15px 0 0; */
  border: none;
}
.SelectEventCountryDiv input {
  margin: 0 0 19px;
}
.CostSeminarEvent,
.EventAddZipCodeArea h4 {
  margin-bottom: 6px;
}
.DateSeminarEvent h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.SpecialInstEvent h1 {
  margin-bottom: 8px;
}
.SpecialInstEvent textarea {
  height: 200px !important;
  /* margin-top: 9px; */
  padding: 10px;
}

.EventDetailsEventDiv textarea {
  height: 200px !important;
  margin-top: 9px;
  padding: 10px;
}
.CostSeminarEvent h1 {
  margin: 0 0 6px;
}
.Minimumdiv {
  display: flex;
  margin-top: 7px;
  width: 100%;
}
.Minimum {
  width: 50%;
  margin-right: 10px;
}
.Minimum1 {
  width: 50%;
}
.Minimumdiv h4 {
  margin-bottom: 6px;
}
.SelectEventCountryDiv textarea {
  height: 200px !important;
  padding: 6px;
}
input:focus-visible {
  outline: none;
}
input:focus {
  border: 1px solid #0072ff;
}
.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
}
textarea:focus-visible {
  outline: none;
}

.auth-logo-contnet {
  display: flex;
  justify-content: center;
  align-items: center;
}
img.auth-logo {
  width: 30% !important;
}
.auth-logo-contnet-register {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App_import input#email {
  font-size: 14px;
  font-weight: 300;
}

.App_import input#password {
  font-size: 14px;
  font-weight: 300;
}

.login-form-fight {
  font-family: poppins !important;
}

h1.title-font-blogs {
  font-family: "Rajdhani", sans-serif;
  font-size: 22px;
  font-weight: 900;
  font-style: normal;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}
.post_meta {
  margin-bottom: 15px;
}
span.post_meta_item.post_date {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
}

p.leading-relaxed11 {
  color: #000000e0;
  font-size: 16px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.public-footer {
  float: left;
  width: 100%;
  box-shadow: 1px 1px 4px #a3a3a3;
}

/* body {
  font-family: "Rajdhani", sans-serif;
} */

p.blog-title11.sm\:text-xl.md\:text-2xl.lg\:text-2xl.xl\:text-2xl.font-bold.text-blue-800 {
  font-family: "Rajdhani", sans-serif;
}

ul.footer-list-item {
  font-family: poppins;
}
.achivements_button {
  background: #1e40af;
  color: #fff;
  padding: 8px 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
h1.titelhome {
  text-align: center;
  padding: 50px 0;
  color: #1e40af;
  font-size: 38px;
  font-weight: bold;
}
h4.fontsize56 {
  text-align: center;
  /* padding: 50px 0; */
  color: #fff;
  /* font-size: 56px; */
  font-weight: bold;
}
h3.fontsize38 {
  padding: 4px 0 4px;
  color: #1e40af;
  font-weight: bold;
  font-family: "Rajdhani", sans-serif;
}
button.viewbtn {
  background: #1e40af;
  color: #fff;
  padding: 12px 26px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.Home-events-img11 {
  background: url(http://122.160.74.251:3004/img/breadcrumbs-bg-copyright.jpg);
  height: 370px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h4.pagetitleall {
  text-align: center;
  padding: 0 0 4px;
  color: #fff;
  font-size: 56px;
  font-weight: bold;
}
.eventspage {
  padding: 90px 0 30px;
}
.eventsec {
  float: left;
  width: 100%;
  margin-bottom: 80px;
}
.Home-events-page {
  width: 33.33%;
}
.eventimg {
  height: 280px;
  overflow: hidden;
}
.eventimg img {
  object-fit: cover;
  height: 100%;
}
.Home-events-page {
  width: 32.33%;
  margin: 5px;
  box-shadow: 1px 1px 6px #ddd;
  padding: 28px;
  border-radius: 9px;
  float: left;
}
.fighter-name2 {
  padding: 20px 0 0;
}
span.eventdate {
  font-size: 18px;
  color: #000;
  margin-bottom: 7px !important;
  display: inline-block;
}
.fighter-name2 h2 {
  font-size: 24px !important;
  font-weight: 700;
  color: #1e40af;
}
.eventdetails {
  float: left;
  width: 100%;
  padding: 30px 0 60px;
}
h2.relatedtitle {
  text-align: center;
  padding: 40px 0 60px;
  color: #1e40af;
  font-size: 38px !important;
  font-weight: bold;
  font-family: "Rajdhani", sans-serif;
  float: left;
  width: 100%;
}
.blogpage1 {
  padding: 108px 0 39px;
}
.blogdetailepage {
  padding: 50px 0 30px;
}
.commontext {
  margin: -54px 0 20px;
}
.commontext span {
  background: #1e40af;
  color: #fff;
  padding: 10px 19px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.datedetailssec {
  background: #1e40af;
  color: #fff;
  padding: 10px 19px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
h1.blogtitledetails {
  padding: 5px 0 14px;
  color: #1e40af;
  font-size: 38px;
  font-weight: bold;
  font-family: "Rajdhani", sans-serif;
}
.aboutpage {
  padding: 50px 0;
}
.bakground {
  background: #f7f7f7;
  width: 100%;
  float: left;
}
h2.titleourpage {
  text-align: center;
  padding: 50px 0 0;
  color: #1e40af;
  font-size: 38px !important;
  font-weight: bold;
}
.addevent {
  margin-top: 162px;
  margin-bottom: 40px;
}
.Relatedevents {
  width: 100%;
  float: left;
}
.terms-cojnn p {
  font-size: 15px;
  line-height: 30px;
}
.eventimg-contnet {
  width: 100%;
  float: left;
}

label.upload-profileImg.absolute {
  top: 110px;
  right: 18px;
}

.event-dataimg {
  float: left;
  width: 100%;
}

.related-blogs-contnet {
  float: left;
}
.eventsbak {
  background-image: url(http://122.160.74.251:3004/img/ba11.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  padding: 24px 24px;
  margin: 0 0 -4px;
}

.fourth-contnet-font-fam {
  font-family: "Poppins";
}

/* scroll bar modify */

/* Hide scrollbar for Chrome, Safari and Opera */
/* body {
  overflow-y: scroll; 
}
body::-webkit-scrollbar {
    display: none;
} */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px !important;
}
/* scroll bar modify */

.menuhome {
  position: relative;
}

.header-sidebar-coontnet {
  position: absolute;
  width: 100%;
}

.terms-privacy-fight {
  font-family: poppins !important;
}

.common-text-font-fam {
  font-family: "Rajdhani", sans-serif;
}
.org-div {
  float: left;
  width: 100%;
}
